
DDResourcesScanner.xcodeproj/project.xcworkspace/xcuserdata/*

DDResourcesScanner.xcodeproj/xcuserdata/fanyuandong.xcuserdatad/xcschemes/DDResourcesScanner.xcscheme

DDResourcesScanner.xcodeproj/xcuserdata/fanyuandong.xcuserdatad/xcschemes/xcschememanagement.plist
